#check-top-external
  #check-top-internal.center
    .check-top-battlement
      .check-top-battlement-center
    
    .check-content
      %h2 Ваш чек
      
      - pos = 1
      - for item in @items
        %p= "#{pos++}. #{item.product.title}"
        %table
          %tbody
            %tr
              %td.product-amount= "#{item.product.price}x#{item.quantity}"
              %td.separator
                %div
              %td.product-price= "#{item.product.price * item.quantity} руб."
              
/     .row.clearfix
/       %p.all-product-sum Итог: 
/         %span.all-sum-right 565 р.
/     %form{:name => "message", method=> "post"}
/       %section
/         %label{:for => "phone"} Телефон:
/         %input#phone{:type => "tel", value => "", name => "phone", placeholder => "+7"}
/         %label{:for => "name"} Ваше имя:
/         %input#name{:type => "text", value => "", name => "name"}