%p!= @product_title
%table
  %tbody
    %tr
      %td.kormapp-product-amount
        != @moneyWithoutCurrency @product_price
        x
        = @quantity
      %td.kormapp-separator
        %div
      // TODO Мультивалютность
      %td.kormapp-product-price= "#{@moneyWithoutCurrency @total_cost} р."