- console.log @

%p= "Число. #{@product_title}"
%table
  %tbody
    %tr
      %td.product-amount
        != @moneyWithoutCurrency @product_price
        x
        = @quantity
      %td.separator
        %div
      // TODO Мультивалютность
      %td.product-price= "#{@moneyWithoutCurrency @total_cost} р."